.footer {
  margin-top: 200px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}
.town {
  color: black;
  margin-bottom: 50px;  
}
.header {
  color: black;
  padding: 10px;
  width: 250px;
}
.arrow {
  padding: 10px;
  margin-left: 40px;
  border-radius: 300px;
  background-color: rgb(73, 121, 121);
  color: white;
  width:50px;
  text-align: center;
}
.review {
  padding: 10px;
  width: 290px;
  font-size: 13px;
}
.prop2 {
  background-color: color;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
}
.prop1 {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  width: 250px;
  margin-left: 10px;
}
.prop3 {
  background-color: color;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
}
.text {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
}
.price {
  font-size: large;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}

.prop .selected {
  background-color: black;
}

@media screen and (max-width:640px) {

  .footer {
    margin: 10px;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .arrow{
    margin-left: 120px;
  }
}
@media screen and (max-width:800px) {
  
}
