.main{
    padding: 10px;
    margin-left:20px;
    align-items: 'center';
}

.header_Nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-right: 35px;

 
}

.logo_font{
 color: white;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 600;
 font-size: 1.3rem;
}
ul{
    display: flex;
    align-items: center;
    
}
li{
    list-style: none;
    padding-left: 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;

    align-items: center;
}
.Login_button {
    color:black;
    background-color: beige;    
    border-radius: 18px;
    padding:10px 24px;
    width: 120px;
    text-align: center;
    margin-left:10px
}


@media  screen and (max-width: 640px) {
    
   ul{
       display: none;
   }
}